.flipbutton {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  .btnflip {
    color: white;
    background-color: rgb(158, 27, 27, 0);
    outline: none;
    border: none;
    font-weight: bold;
    font-size: 20px;
    padding: 0px;
    border-radius: 3px;
    margin: 0;
    cursor: pointer;
  }

  .gitImgContainer img {
    width: 150px;
    height: 150px;
    border-radius: 100px;
  }

  .form-demo {
    padding: 15px;
    background-color: red;
    border: none;
    border-radius: 10px;
    background: linear-gradient(
      -50deg,
      #313131,
      #525d69,
      #423434,
      #0a0909
    );
    background-size: 200% 200%;
    animation: gradient 3s ease infinite;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 6px, rgb(0 0 0 / 27%) 0px 3px 6px;

    perspective: 1000px;
  }

  .card-inner {
    position: relative;

    transition: transform 0.8s;
    transform-style: preserve-3d;
  }


  .form-demo .card-inner {
    transform: rotateY(${flip});
  }

  .card-front,
  .card-back {

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .card-back .backName {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
  }
  .card-back .backName span {
    margin: 0;
    padding-left: 15px;
  }
  .card-back .backName h4 {
    margin: 5px 0px;
    
  }

  .card-front {
  }

  .card-back {
    /* background-color: red; */
    color: white;
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .form-demo .card {
    min-width: 450px;
  }
  .form-demo .card form {
    margin-top: 2rem;
  }
  .form-demo .card .field {
    margin-bottom: 1.5rem;
  }
  @media screen and (max-width: 960px) {
    .form-demo .card {
      width: 80%;
    }
  }
  @media screen and (max-width: 640px) {
    .form-demo .card {
      width: 100%;
      min-width: 0;
    }
  }